<section class="container mt-5">
  <div class="row">
    <!-- Project List -->
    <div class="col-12 mb-4">
      <h1 class="text-center mb-2">Project List</h1>
      <a href="/add-project" class="btn btn-secondary mt-3">ADD PROJECTS</a>
    </div>
    <div class="row mt-2" id="content">
      <!-- Project Card will be rendered here -->
      <% projects.forEach(project => { %>
      <div class="col-md-4 mb-4" id="project-<%= project.id %>">
        <div class="card">
          <img src="<%= project.image || '../assets/img/luffy.jpg' %>" class="card-img-top" alt="Project Image">
          <span class="post-date" id="postTime-<%= project.id %>">
            <!-- Placeholder for formatted post time -->
            Posted: <span
              id="formattedPostTime-<%= project.id %>"><%= new Date(project.postAt).toLocaleDateString() %></span>
          </span>
          <div class="card-body">
            <a href="detail-project/<%= project.id %>" class="card-title"><%= project.projectName %></a>
            <p class="card-text">
              <%= project.description %>
            </p>
            <strong>Technologies:</strong> <%= project.technologies.join(', ') %>
            <div class="card-actions d-flex justify-content-end">
              <a href="/edit-project/<%= project.id %>" role="button" class="btn btn-secondary me-2">Edit</a>
              <form action="/delete-project/<%= project.id %>" method="post" style="display:inline;">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
  </div>
</section>